In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
real_data=pd.read_csv("True.csv")
fake_data=pd.read_csv("Fake.csv")

In [3]:
real_data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
fake_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
real_data=real_data.iloc[: , 0:-1]
fake_data=fake_data.iloc[: , 0:-1]

In [6]:
real_data.head()
fake_data.head()

,title,text,subject
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News

In [7]:
real_data.head()

,title,text,subject
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews

In [8]:
real_data['title'].head(100)

0     As U.S. budget fight looms, Republicans flip t...
1     U.S. military to accept transgender recruits o...
2     Senior U.S. Republican senator: 'Let Mr. Muell...
3     FBI Russia probe helped by Australian diplomat...
4     Trump wants Postal Service to charge 'much mor...
                            ...
95    House panel chair introduces $81 billion disas...
96    Trump nominates Liberty University professor t...
97    Trump on Twitter (Dec 18) - Congressional Race...
98    Trump Cabinet officials to visit Puerto Rico t...
99    'Dreamer' immigration bill not on U.S. Senate ...
Name: title, Length: 100, dtype: object

In [9]:
print(fake_data.shape)
print(real_data.shape)

(23481, 3)
(21417, 3)

In [10]:
type(fake_data.shape[0])

int

In [11]:
print("fake rate = ",(fake_data.shape[0])/((fake_data.shape[0])+real_data.shape[0])*100)

fake rate =  52.29854336496058

In [12]:
fake_rate=(fake_data.shape[0])/((fake_data.shape[0])+real_data.shape[0])*100

In [13]:
real_rate=100-fake_rate
print(real_rate)

47.70145663503942

In [14]:
print("Data is biased")

Data is biased

In [15]:
fake_data['label']=0
real_data['label']=1

In [16]:
fake_data.head()

,title,text,subject,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0

In [17]:
fake_data.head(2)

,title,text,subject,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0

In [18]:
fake_data.isna().sum

<bound method DataFrame.sum of        title   text  subject  label
0      False  False    False  False
1      False  False    False  False
2      False  False    False  False
3      False  False    False  False
4      False  False    False  False
...      ...    ...      ...    ...
23476  False  False    False  False
23477  False  False    False  False
23478  False  False    False  False
23479  False  False    False  False
23480  False  False    False  False

[23481 rows x 4 columns]>

In [19]:
real_data.isna().sum

<bound method DataFrame.sum of        title   text  subject  label
0      False  False    False  False
1      False  False    False  False
2      False  False    False  False
3      False  False    False  False
4      False  False    False  False
...      ...    ...      ...    ...
21412  False  False    False  False
21413  False  False    False  False
21414  False  False    False  False
21415  False  False    False  False
21416  False  False    False  False

[21417 rows x 4 columns]>

In [20]:
print("Go to sleep you idiot")

Go to sleep you idiot

In [21]:
data=fake_data

In [22]:
data=pd.concat([fake_data,real_data], axis=0, ignore_index=True)
data

,title,text,subject,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,0
...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,1

In [23]:
data['title'][0]

' Donald Trump Sends Out Embarrassing New Year’s Eve Message; This is Disturbing'

In [24]:
data['title'][1]

' Drunk Bragging Trump Staffer Started Russian Collusion Investigation'

In [25]:
data['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [26]:
data_title_text_label=data.iloc[:,[0,1,3]]

In [27]:
data_title_label=data.iloc[:,[0,3]]

In [28]:
data_title_text_label

,title,text,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,0
...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,1

In [29]:
data_title_label

                                                   title  label
0       Donald Trump Sends Out Embarrassing New Year’...      0
1       Drunk Bragging Trump Staffer Started Russian ...      0
2       Sheriff David Clarke Becomes An Internet Joke...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...      0
4       Pope Francis Just Called Out Donald Trump Dur...      0
...                                                  ...    ...
44893  'Fully committed' NATO backs new U.S. approach...      1
44894  LexisNexis withdrew two products from Chinese ...      1
44895  Minsk cultural hub becomes haven from authorities      1
44896  Vatican upbeat on possibility of Pope Francis ...      1
44897  Indonesia to buy $1.14 billion worth of Russia...      1

[44898 rows x 2 columns]

In [30]:
data_text_label=data.iloc[:,[1,3]]

In [31]:
data_text_label

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [32]:
#We are going to check the performance with 4 types of data.
#1. All data (data)
#2. All but excluding subject (data_title_text_label)
#3. All but excluding subject and text (data_title_label)
#4. All but excluding subject and title (data_text_label)

In [33]:
#data preprocessing

In [34]:
print("less go")

less go

In [35]:
from string import punctuation
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Chaitanya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
import re,string,unicodedata
from string import punctuation

In [37]:
stop = set(stopwords.words('english'))
punctuation = list(string.punctuation)
stop.update(punctuation)

In [38]:
stop

{'!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves',
 '{',
 '|',
 '}',
 '~'}

In [39]:
from nltk.stem.porter import PorterStemmer

In [40]:
stemmer = PorterStemmer()
def stem_text(text):
    final_text = []
    for i in text.split():
        if i.strip().lower() not in stop:
            word = stemmer.stem(i.strip())
            final_text.append(word)
    return " ".join(final_text)

In [52]:

data_title_text_label.text = data_title_text_label.text.apply(stem_text)
data_title_text_label.title = data_title_text_label.title.apply(stem_text)

In [53]:
data_title_text_label.head(10)

,title,text,label
0,donald trump send embarrass new year’ eve mess...,donald trump wish american happi new year leav...,0
1,drunk brag trump staffer start russian collus ...,hou intellig committ chairman devin nune go ba...,0
2,sheriff david clark becom internet joke threat...,"friday, reveal former milwauk sheriff david cl...",0
3,trump obsess even obama’ name code websit (ima...,"christma day, donald trump announc would back ...",0
4,pope franci call donald trump christma speech,pope franci use annual christma day messag reb...,0
5,racist alabama cop brutal black boy handcuff (...,number case cop brutal kill peopl color seem s...,0
6,"fresh golf course, trump lash fbi deputi direc...","donald trump spent good portion day golf club,...",0
7,trump said insan racist stuff insid oval offic...,wake yet anoth court deci derail donald trump ...,0
8,"former cia director slam trump UN bullying, op...",mani peopl rai alarm regard fact donald trump ...,0
9,watch: brand-new pro-trump Ad featur much a** ...,might thought get break watch peopl kiss donal...,0

In [47]:

data_text_label.text = data_text_label.text.apply(stem_text)

In [54]:
data_text_label.head(10)

                                                text  label
0  donald trump wish american happi new year leav...      0
1  hous intellig committe chairman devin nune go ...      0
2  friday, reveal former milwauke sheriff david c...      0
3  christma day, donald trump announc would back ...      0
4  pope franci use annual christma day messag reb...      0
5  number case cop brutal kill peopl color seem s...      0
6  donald trump spent good portion day golf club,...      0
7  wake yet anoth court decis derail donald trump...      0
8  mani peopl rais alarm regard fact donald trump...      0
9  might thought get break watch peopl kiss donal...      0

In [50]:
data_title_text_label['text'][0]

'donald trump wish american happi new year leav that. instead, give shout enemies, hater dishonest fake news media. former realiti show star one job it. countri rapidli grow stronger smarter, want wish friends, supporters, enemies, haters, even dishonest fake new media, happi healthi new year, presid angri pant tweeted. 2018 great year america! countri rapidli grow stronger smarter, want wish friends, supporters, enemies, haters, even dishonest fake new media, happi healthi new year. 2018 great year america! donald J. trump (@realdonaldtrump) decemb 31, 2017trump tweet went welll expect.what kind presid send new year greet like despicable, petty, infantil gibberish? trump! lack decenc even allow rise gutter long enough wish american citizen happi new year! bishop talbert swan (@talbertswan) decemb 31, 2017no one like calvin (@calvinstowell) decemb 31, 2017your impeach would make 2018 great year america, also accept regain control congress. miranda yaver (@mirandayaver) decemb 31, 2017do hear talk? includ mani peopl hate wonder? hate me? alan sandov (@alansandoval13) decemb 31, 2017who use word hater new year wish?? marlen (@marlene399) decemb 31, 2017you say happi new year? koren pollitt (@korencarpenter) decemb 31, 2017here trump new year eve tweet 2016.happi new year all, includ mani enemi fought lost badli know do. love! donald J. trump (@realdonaldtrump) decemb 31, 2016thi noth new trump. years.trump direct messag enemi hater new year s, easter, thanksgiving, anniversari 9/11. pic.twitter.com/4fpae2kypa daniel dale (@ddale8) decemb 31, 2017trump holiday tweet clearli presidential.how long work hallmark becom president? steven goodin (@sgoodine) decemb 31, 2017he alway like differ last years, filter break down. roy schulz (@thbthttt) decemb 31, 2017who, apart teenag use term haters? wendi (@wendywhistles) decemb 31, 2017he fuck 5 year old know (@rainyday80) decemb 31, 2017so, peopl vote hole think would chang got power, wrong! 70-year-old men chang year older.photo andrew burton/getti images.'

In [51]:
data['text'][0]

'Donald Trump just couldn t wish all Americans a Happy New Year and leave it at that. Instead, he had to give a shout out to his enemies, haters and  the very dishonest fake news media.  The former reality show star had just one job to do and he couldn t do it. As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year,  President Angry Pants tweeted.  2018 will be a great year for America! As our Country rapidly grows stronger and smarter, I want to wish all of my friends, supporters, enemies, haters, and even the very dishonest Fake News Media, a Happy and Healthy New Year. 2018 will be a great year for America!  Donald J. Trump (@realDonaldTrump) December 31, 2017Trump s tweet went down about as welll as you d expect.What kind of president sends a New Year s greeting like this despicable, petty, infantile gibberish? Only Trump! His lack of decency won t even allow him to rise above the gutter long enough to wish the American citizens a happy new year!  Bishop Talbert Swan (@TalbertSwan) December 31, 2017no one likes you  Calvin (@calvinstowell) December 31, 2017Your impeachment would make 2018 a great year for America, but I ll also accept regaining control of Congress.  Miranda Yaver (@mirandayaver) December 31, 2017Do you hear yourself talk? When you have to include that many people that hate you you have to wonder? Why do the they all hate me?  Alan Sandoval (@AlanSandoval13) December 31, 2017Who uses the word Haters in a New Years wish??  Marlene (@marlene399) December 31, 2017You can t just say happy new year?  Koren pollitt (@Korencarpenter) December 31, 2017Here s Trump s New Year s Eve tweet from 2016.Happy New Year to all, including to my many enemies and those who have fought me and lost so badly they just don t know what to do. Love!  Donald J. Trump (@realDonaldTrump) December 31, 2016This is nothing new for Trump. He s been doing this for years.Trump has directed messages to his  enemies  and  haters  for New Year s, Easter, Thanksgiving, and the anniversary of 9/11. pic.twitter.com/4FPAe2KypA  Daniel Dale (@ddale8) December 31, 2017Trump s holiday tweets are clearly not presidential.How long did he work at Hallmark before becoming President?  Steven Goodine (@SGoodine) December 31, 2017He s always been like this . . . the only difference is that in the last few years, his filter has been breaking down.  Roy Schulze (@thbthttt) December 31, 2017Who, apart from a teenager uses the term haters?  Wendy (@WendyWhistles) December 31, 2017he s a fucking 5 year old  Who Knows (@rainyday80) December 31, 2017So, to all the people who voted for this a hole thinking he would change once he got into power, you were wrong! 70-year-old men don t change and now he s a year older.Photo by Andrew Burton/Getty Images.'

In [55]:

data_title_label.title = data_title_label.title.apply(stem_text)

In [56]:
data_title_label.head(10)

                                               title  label
0  donald trump send embarrass new year’ eve mess...      0
1  drunk brag trump staffer start russian collus ...      0
2  sheriff david clark becom internet joke threat...      0
3  trump obsess even obama’ name code websit (ima...      0
4      pope franci call donald trump christma speech      0
5  racist alabama cop brutal black boy handcuff (...      0
6  fresh golf course, trump lash fbi deputi direc...      0
7  trump said insan racist stuff insid oval offic...      0
8  former cia director slam trump UN bullying, op...      0
9  watch: brand-new pro-trump Ad featur much a** ...      0