<a href="https://colab.research.google.com/github/SamratRode/Fake-news-detection-using-BERT-and-hybrid-model/blob/main/Fake_News_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
real_data=pd.read_csv("/content/drive/MyDrive/dataset/Fake_News_Detection/True.csv")
fake_data=pd.read_csv("/content/drive/MyDrive/dataset/Fake_News_Detection/Fake.csv")

In [ ]:
fake_data.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [ ]:
real_data

                                                   title  ...                date
0      As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1      U.S. military to accept transgender recruits o...  ...  December 29, 2017
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3      FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4      Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017
...                                                  ...  ...                 ...
21412  'Fully committed' NATO backs new U.S. approach...  ...    August 22, 2017
21413  LexisNexis withdrew two products from Chinese ...  ...    August 22, 2017
21414  Minsk cultural hub becomes haven from authorities  ...    August 22, 2017
21415  Vatican upbeat on possibility of Pope Francis ...  ...    August 22, 2017
21416  Indonesia to buy $1.14 billion worth of Russia...  ...    August 22, 2017

[21417 rows x 4 columns]

In [ ]:
#Removing Date Attribute
real_data = real_data.iloc[:, 0:-1]
fake_data = fake_data.iloc[:, 0:-1]

In [ ]:
real_data

                                                   title  ...       subject
0      As U.S. budget fight looms, Republicans flip t...  ...  politicsNews
1      U.S. military to accept transgender recruits o...  ...  politicsNews
2      Senior U.S. Republican senator: 'Let Mr. Muell...  ...  politicsNews
3      FBI Russia probe helped by Australian diplomat...  ...  politicsNews
4      Trump wants Postal Service to charge 'much mor...  ...  politicsNews
...                                                  ...  ...           ...
21412  'Fully committed' NATO backs new U.S. approach...  ...     worldnews
21413  LexisNexis withdrew two products from Chinese ...  ...     worldnews
21414  Minsk cultural hub becomes haven from authorities  ...     worldnews
21415  Vatican upbeat on possibility of Pope Francis ...  ...     worldnews
21416  Indonesia to buy $1.14 billion worth of Russia...  ...     worldnews

[21417 rows x 3 columns]

In [ ]:
print(real_data.shape)
print(fake_data.shape)

(21417, 3)
(23481, 3)

In [ ]:
fake_rate=(fake_data.shape[0])/((fake_data.shape[0])+real_data.shape[0])*100
print("Percentage of Fake data is: ", fake_rate)

Percentage of Fake data is:  52.29854336496058

In [ ]:
real_rate=100-fake_rate
print("Percentage of Real data is: ", real_rate)

Percentage of Real data is:  47.70145663503942

In [ ]:
#Since the amount of fake news is high, the data samples are biased towards fake news
#The differece between the percentage is not large and hence we can still have fair accuracy while training our model
print("Data is biased but can be worked with...")

Data is biased but can be worked with...

In [ ]:
fake_data['label']=0
real_data['label']=1

In [ ]:
fake_data.isna().sum

<bound method DataFrame.sum of        title   text  subject  label
0      False  False    False  False
1      False  False    False  False
2      False  False    False  False
3      False  False    False  False
4      False  False    False  False
...      ...    ...      ...    ...
23476  False  False    False  False
23477  False  False    False  False
23478  False  False    False  False
23479  False  False    False  False
23480  False  False    False  False

[23481 rows x 4 columns]>

In [ ]:
real_data.isna().sum

<bound method DataFrame.sum of        title   text  subject  label
0      False  False    False  False
1      False  False    False  False
2      False  False    False  False
3      False  False    False  False
4      False  False    False  False
...      ...    ...      ...    ...
21412  False  False    False  False
21413  False  False    False  False
21414  False  False    False  False
21415  False  False    False  False
21416  False  False    False  False

[21417 rows x 4 columns]>

In [ ]:
data = fake_data
data=pd.concat([fake_data,real_data], axis=0, ignore_index=True)
data

                                                   title  ... label
0       Donald Trump Sends Out Embarrassing New Year’...  ...     0
1       Drunk Bragging Trump Staffer Started Russian ...  ...     0
2       Sheriff David Clarke Becomes An Internet Joke...  ...     0
3       Trump Is So Obsessed He Even Has Obama’s Name...  ...     0
4       Pope Francis Just Called Out Donald Trump Dur...  ...     0
...                                                  ...  ...   ...
44893  'Fully committed' NATO backs new U.S. approach...  ...     1
44894  LexisNexis withdrew two products from Chinese ...  ...     1
44895  Minsk cultural hub becomes haven from authorities  ...     1
44896  Vatican upbeat on possibility of Pope Francis ...  ...     1
44897  Indonesia to buy $1.14 billion worth of Russia...  ...     1

[44898 rows x 4 columns]

In [ ]:
data_title_label = data.iloc[:, [0,3]]

In [ ]:
data_title_label

                                                   title  label
0       Donald Trump Sends Out Embarrassing New Year’...      0
1       Drunk Bragging Trump Staffer Started Russian ...      0
2       Sheriff David Clarke Becomes An Internet Joke...      0
3       Trump Is So Obsessed He Even Has Obama’s Name...      0
4       Pope Francis Just Called Out Donald Trump Dur...      0
...                                                  ...    ...
44893  'Fully committed' NATO backs new U.S. approach...      1
44894  LexisNexis withdrew two products from Chinese ...      1
44895  Minsk cultural hub becomes haven from authorities      1
44896  Vatican upbeat on possibility of Pope Francis ...      1
44897  Indonesia to buy $1.14 billion worth of Russia...      1

[44898 rows x 2 columns]

In [ ]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
corpus = []
for i in range(0, 44898):
    title = re.sub('[^a-zA-Z]', ' ', data_title_label['title'][i]) # review to contain only letters a to z and if the character is removed replace it by so+pace
    title = title.lower() # review to contain only lower case letter
    title = title.split() # Splitting the string into different words
    ps = PorterStemmer() # Creating object of the class
    title = [ps.stem(word) for word in title if not word in set(stopwords.words('english'))]  # Set here is used only for faster execution of code in case there are too many words...
    title = ' '.join(title) # Converting the list back to string
    corpus.append(title)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=15000)
X = cv.fit_transform(corpus).toarray()
y = data_title_label.iloc[:, 1].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                   test_size=0.25,
                                                   random_state=0)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
import tensorflow as tf
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [ ]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
1053/1053 [==============================] - 6s 5ms/step - loss: 0.2761 - accuracy: 0.9132
Epoch 2/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0991 - accuracy: 0.9639
Epoch 3/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0700 - accuracy: 0.9757
Epoch 4/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0533 - accuracy: 0.9820
Epoch 5/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0422 - accuracy: 0.9858
Epoch 6/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0336 - accuracy: 0.9892
Epoch 7/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0271 - accuracy: 0.9912
Epoch 8/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0228 - accuracy: 0.9922
Epoch 9/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0190 - accuracy: 0.9941
Epoch 10/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0156 - accuracy: 0.9948
Epoch 11/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0137 - accuracy: 0.9953
Epoch 12/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0110 - accuracy: 0.9963
Epoch 13/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0098 - accuracy: 0.9967
Epoch 14/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0075 - accuracy: 0.9976
Epoch 15/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0064 - accuracy: 0.9980
Epoch 16/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0052 - accuracy: 0.9984
Epoch 17/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0044 - accuracy: 0.9986
Epoch 18/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0033 - accuracy: 0.9988
Epoch 19/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0030 - accuracy: 0.9990
Epoch 20/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0024 - accuracy: 0.9992
Epoch 21/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0018 - accuracy: 0.9994
Epoch 22/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0012 - accuracy: 0.9998
Epoch 23/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0011 - accuracy: 0.9997
Epoch 24/100
1053/1053 [==============================] - 5s 5ms/step - loss: 9.6466e-04 - accuracy: 0.9998
Epoch 25/100
1053/1053 [==============================] - 5s 5ms/step - loss: 0.0010 - accuracy: 0.9996
Epoch 26/100
1053/1053 [==============================] - 5s 5ms/step - loss: 5.1957e-04 - accuracy: 0.9999
Epoch 27/100
1053/1053 [==============================] - 5s 5ms/step - loss: 4.5279e-04 - accuracy: 0.9999
Epoch 28/100
1053/1053 [==============================] - 5s 5ms/step - loss: 7.5950e-04 - accuracy: 0.9998
Epoch 29/100
1053/1053 [==============================] - 5s 5ms/step - loss: 4.6336e-04 - accuracy: 0.9998
Epoch 30/100
1053/1053 [==============================] - 5s 5ms/step - loss: 3.3476e-04 - accuracy: 0.9999
Epoch 31/100
1053/1053 [==============================] - 5s 5ms/step - loss: 3.1830e-04 - accuracy: 0.9999
Epoch 32/100
1053/1053 [==============================] - 5s 5ms/step - loss: 2.9565e-04 - accuracy: 1.0000
Epoch 33/100
1053/1053 [==============================] - 5s 5ms/step - loss: 1.9014e-04 - accuracy: 0.9999
Epoch 34/100
1053/1053 [==============================] - 5s 5ms/step - loss: 1.9104e-04 - accuracy: 0.9999
Epoch 35/100
1053/1053 [==============================] - 5s 5ms/step - loss: 3.6434e-04 - accuracy: 0.9999
Epoch 36/100
1053/1053 [==============================] - 5s 5ms/step - loss: 4.3520e-04 - accuracy: 0.9998
Epoch 37/100
1053/1053 [==============================] - 5s 5ms/step - loss: 1.7186e-04 - accuracy: 0.9999
Epoch 38/100
1053/1053 [==============================] - 5s 5ms/step - loss: 2.3054e-04 - accuracy: 0.9999
Epoch 39/100
1053/1053 [==============================] - 5s 5ms/step - loss: 2.5587e-04 - accuracy: 0.9999
Epoch 40/100
1053/1053 [==============================] - 5s 5ms/step - loss: 1.2291e-04 - accuracy: 1.0000
Epoch 41/100
1053/1053 [==============================] - 5s 5ms/step - loss: 7.2833e-05 - accuracy: 1.0000
Epoch 42/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.9859e-05 - accuracy: 1.0000
Epoch 43/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.8038e-05 - accuracy: 1.0000
Epoch 44/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.7949e-05 - accuracy: 1.0000
Epoch 45/100
1053/1053 [==============================] - 5s 5ms/step - loss: 7.1771e-05 - accuracy: 1.0000
Epoch 46/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5963e-05 - accuracy: 1.0000
Epoch 47/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.8254e-05 - accuracy: 1.0000
Epoch 48/100
1053/1053 [==============================] - 5s 5ms/step - loss: 2.0735e-04 - accuracy: 0.9999
Epoch 49/100
1053/1053 [==============================] - 5s 5ms/step - loss: 3.9889e-04 - accuracy: 0.9999
Epoch 50/100
1053/1053 [==============================] - 5s 5ms/step - loss: 1.7507e-04 - accuracy: 0.9999
Epoch 51/100
1053/1053 [==============================] - 5s 5ms/step - loss: 7.6784e-05 - accuracy: 1.0000
Epoch 52/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.6342e-05 - accuracy: 1.0000
Epoch 53/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.0373e-05 - accuracy: 1.0000
Epoch 54/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3131e-05 - accuracy: 1.0000
Epoch 55/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2247e-05 - accuracy: 1.0000
Epoch 56/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1999e-05 - accuracy: 1.0000
Epoch 57/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2384e-05 - accuracy: 1.0000
Epoch 58/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.7079e-05 - accuracy: 1.0000
Epoch 59/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1834e-05 - accuracy: 1.0000
Epoch 60/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5755e-05 - accuracy: 1.0000
Epoch 61/100
1053/1053 [==============================] - 5s 5ms/step - loss: 2.3423e-04 - accuracy: 0.9999
Epoch 62/100
1053/1053 [==============================] - 5s 5ms/step - loss: 7.0824e-05 - accuracy: 1.0000
Epoch 63/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1886e-05 - accuracy: 1.0000
Epoch 64/100
1053/1053 [==============================] - 5s 5ms/step - loss: 5.9227e-05 - accuracy: 1.0000
Epoch 65/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2980e-05 - accuracy: 1.0000
Epoch 66/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.7654e-05 - accuracy: 1.0000
Epoch 67/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1151e-05 - accuracy: 1.0000
Epoch 68/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2123e-05 - accuracy: 1.0000
Epoch 69/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3356e-05 - accuracy: 1.0000
Epoch 70/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1681e-05 - accuracy: 1.0000
Epoch 71/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2369e-05 - accuracy: 1.0000
Epoch 72/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5652e-05 - accuracy: 1.0000
Epoch 73/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5570e-05 - accuracy: 1.0000
Epoch 74/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2330e-05 - accuracy: 1.0000
Epoch 75/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.4298e-05 - accuracy: 1.0000
Epoch 76/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2261e-05 - accuracy: 1.0000
Epoch 77/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3347e-05 - accuracy: 1.0000
Epoch 78/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5230e-05 - accuracy: 1.0000
Epoch 79/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2854e-05 - accuracy: 1.0000
Epoch 80/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2193e-05 - accuracy: 1.0000
Epoch 81/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.5689e-05 - accuracy: 1.0000
Epoch 82/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.4691e-05 - accuracy: 1.0000
Epoch 83/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3418e-05 - accuracy: 1.0000
Epoch 84/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1940e-05 - accuracy: 1.0000
Epoch 85/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2896e-05 - accuracy: 1.0000
Epoch 86/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3183e-05 - accuracy: 1.0000
Epoch 87/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2630e-05 - accuracy: 1.0000
Epoch 88/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3064e-05 - accuracy: 1.0000
Epoch 89/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2537e-05 - accuracy: 1.0000
Epoch 90/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2723e-05 - accuracy: 1.0000
Epoch 91/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3889e-05 - accuracy: 1.0000
Epoch 92/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3179e-05 - accuracy: 1.0000
Epoch 93/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.4156e-05 - accuracy: 1.0000
Epoch 94/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.1932e-05 - accuracy: 1.0000
Epoch 95/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3064e-05 - accuracy: 1.0000
Epoch 96/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3060e-05 - accuracy: 1.0000
Epoch 97/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3265e-05 - accuracy: 1.0000
Epoch 98/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2609e-05 - accuracy: 1.0000
Epoch 99/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.2882e-05 - accuracy: 1.0000
Epoch 100/100
1053/1053 [==============================] - 5s 5ms/step - loss: 6.3423e-05 - accuracy: 1.0000

In [ ]:
y_pred = ann.predict(X_test)

In [ ]:
y_pred = (y_pred>0.5)

In [ ]:
y_pred

array([[ True],
       [ True],
       [ True],
       ...,
       [False],
       [ True],
       [False]])

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[5588,  288],
       [ 463, 4886]])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.95      0.94      5876
           1       0.94      0.91      0.93      5349

    accuracy                           0.93     11225
   macro avg       0.93      0.93      0.93     11225
weighted avg       0.93      0.93      0.93     11225